body {
    padding: 20px;
    background-color: aliceblue;
}

#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

#dino{
    width: 20px;
    height: 50px;
    background-color: #de0d26;
    position: absolute;
    bottom: 0px;
}

.jumpClass {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% { 
        bottom: 0px; 
    }

    30% {
        bottom: 100px;
    }
    70% {
        bottom: 100px;
    }
    100% {
        bottom: 0px;
    }
}

#block {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: absolute;
    bottom: 0px;
    left: 450px;
}

.animateBlock {
    animation: block 1s linear infinite;

    #startBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    z-index: 10; 
} 
@keyframes block {
    0%{
        left: 450px;
    }
    100% {
        left:-20px;
    }

}

